<% if @topic %>
  <h1>Lists from <%= @topic.name %> Topic</h1>
<% else %>
  <h1>All Lists</h1>
<% end %>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.title, list_path(list) %></li>
  <% end %>
</ul>
  