<% if @topic %>
<h1>New Top Ten List for <em><%= @list.topic.name %></em></h1>
<% else %>
<h1>New Top Ten List</h1>
<% end %>
<% if @list.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@list.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @list.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

 <%= render :partial => 'form' %>