<% if params[:topic_id] %>
<h1>New Top Ten List for <em><%= @list.topic.name %></em></h1>
<% else %>
<h1>New Top Ten List</h1>
<% end %>

 <%= render :partial => 'layouts/errors', locals: {object: @list} %>
<% if !params[:topic_id] %>
 <%= render :partial => 'form', locals: {topic: @topic } %>
<% else %>
  <%= render :partial => 'form', locals: {topic: @list.topic } %>
<% end %>