<h1>Welcome To TopTenLists!</h1>

<p>Here you can create and view lists of your top ten items of a certain category/topic to share with friends and public as reccommendations.</p>

<p><%= link_to 'Log In', login_path %> | <%= link_to 'Sign Up', signup_path %> | <%= button_to 'Log In With Google', '/auth/google_oauth2' %></p>