%h1.text-center Welcome To TopTenLister!
%p.text-center TopTenLister was created to share recommendations of anything in any topic you can think of. Here you can create and view lists of users' top ten items of a certain topic to share with friends and public as reccommendations. You can best utilize this site viewing other users' lists of things they find to be the best. You can find all sorts of categories! Join today and share your top ten lists!
.row.justify-content-center
  .col-auto
    = button_to 'Log In', login_path, method: "get", :class => "btn btn-primary"
  .col-auto
    = button_to 'Sign Up', signup_path, method: "get", :class => "btn btn-secondary"
