<h1 class="text-center">Your Lists</h1>
    <% if @user.lists.empty? %>
    <p class="text-center">You have no top lists created yet.</p>
    <% else %>
<ul>
    <% @user.lists.each do |list| %>
        <li><%= link_to list.title, list_path(list) %></li>
    <% end %>
</ul>
<% end %>