<% if object.errors.any? %>
  <div class="container-fluid text-center mb-3" id="error_explanation" style="width: 50%; color: red;">
      <% object.errors.each do |error| %>
        <%= error.full_message %><br/>
      <% end %>
  </div>
<% end %>